.wrapper{
    background: #fff;
    margin:  0 auto;
    padding: 5px 20px;
    width: 700px;
}


#about_me__container--left {

    width: auto;
    float: left;
    
}

#links__container--left {

    width: auto;
    float: left;

}